<form class="forgot-password_form">
  <p class="forgot-password_text">Forgot your password?</p>
  <p class="forgot-password_text" style="font-size: 1em">Please enter your email. We will send you a link to reset your password.</p>



  <div class="email_forgot-password_section p-grid">

    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label">
        <input id="float-input" type="text" pInputText name="email_forgot-password_box" id="email_forgot-password_box"
          class="email_text_box">
        <label for="float-input">Email</label>
      </div>
    </div>
    <div class="p-col-4"></div>

    <div>
      <button pButton type="submit" class="email_forgot-password_button ui-button-danger"
        label="Reset Password"></button>
    </div>
  </div>
</form>
