<footer>
<hr class="global-hr">
  <div class="p-grid footer-icons ">
    <div class="p-col-1">
    </div>
    <div class="p-col-1">
      <ul class="footer-icon-subsections">
        <li>
          <img src="../../../assets/images/icon-foommy.png" alt="" id="footer-foomy-icon">
      </li>
      </ul>
    </div>
    <div class="p-col-1">
    </div>
    <div class="p-col-3">
      <ul class="footer-icon-subsections">
        <li>
          Like Us
        </li>
        <li>
          <img src="../../../assets/images/icon-facebook.png" alt="">
        </li>
        <img src="../../../assets/images/icon-instragram.png" alt="">
        <li>
          <img src="../../../assets/images/icon-twitter.png" alt="">
        </li>
      </ul>
    </div>

    <div class="p-col-1">
    </div>
    <div class="p-col-4">
      <ul class="footer-icon-subsections">
        <li>
          Get Our App
        </li>
        <li>
          <img src="../../../assets/images/icon-appstore.png" alt="">
        </li>
        <li>
          <img src="../../../assets/images/icon-appstore.png" alt="">
        </li>
      </ul>
    </div>
    <div class="p-col-1">
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-10">
      <hr class="global-hr">
    </div>
    <div class="p-col-1"></div>
  </div>
  <div class="footer-text" style="text-align: center">
    <div>@2019 Foommy. All right reserved</div>
    <div>Privacy Policy. Terms of Service</div>
  </div>
</footer>
