<section class="foomies-near-you-section">
  <div class="foomies-near-you-content">
    <div class="p-col-12 p-grid">
      <h3 class="foomies-near-you-title">Foommies near you:</h3>
    </div>


<app-sandbox></app-sandbox>

    <div *ngFor="let foommy of foommyFromDB">
    <div class="p-grid">
        <div class="p-col-4">
          <p-card header={{foommy.title}} subheader={{foommy.address}} styleClass="ui-card-shadow">
            <p-header>
              <img src="Card" src={{foommy.image}}>
            </p-header>
            <div>Specialties: {{foommy.specialties}}</div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</section>
