
.foomies-near-you-section{
  background-color: #f5efef;
}

.foomies-near-you-section .foomies-near-you-title{
  background-color: #f5efef;
  font-family: 'Nunito',sans-serif;
  font-size: 3.8em;
  color:#773f31;
}

.foomies-near-you-content{
padding:1em;
}


/*
.how-icon{
  display:flex;
  justify-content: center;
}

.how-it-works-section{
  background-color: #f5efef;
  font-family: 'Nunito',sans-serif;
}

.how-it-works-section .how-it-works-title{
  font-size: 3.8em;
  color:#773f31;
  margin:0;
  padding:0;
}
.how-it-works-section .how-it-works-subtitle{
  font-size: 2em;
  color:#423e3d;
}

.how-it-works-section .how-it-works-text-section{
padding:2em;
margin-bottom:1em;
}

.how-it-works-section .how-it-works-icons{
margin: 3em 0;
  }
 */



