<section class="become-chef_splash-page">
  <div class="become-chef_text">Sharing is Caring</div>
  <div class="become-chef_subtext">
    <p>
      To make this world a better place.
    </p>
    <p>
      Join us, start to share home cooked food to your local community!
    </p>
  </div>
  <div class="become-chef-body p-grid">
<div class="p-col-3"></div>
<img src="../../../assets/images/img-become-chef-sharing-is-caring.png" alt="become-chef-image"
class="become-chef-image p-col-6">
<div class="p-col-3"></div>
    <div class="p-col-5"></div>
    <button pButton type="submit" class="ui-button-danger become-chef-button ui-button-rounded p-col-2" label="Continue"
    routerLink="/chef-sign-up" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"></button>
    <div class="p-col-5"></div>
  </div>
</section>
