
.feedback-section{
  background-color: #fcfafb;
}

.feedback-section .feedback-title-text{
  font-family: 'Nunito',sans-serif;
  font-size: 3.8em;
  color:#423e3d;
  width:100%;
  text-align: center;
  margin:1.5em 0;
}

.feedback-button{
 /* width:15em;
 height: 5em; */
 margin-bottom:2em;
 font-size: 2em;
}





