
.feedback-section{
  background-color: #fcfafb;

}

.feedback-section .feedback-title-text{
  font-family: 'Nunito',sans-serif;
  font-size: 3.8em;
  color:#423e3d;
  width:100%;
  text-align: center;
  margin:1.5em 0;
}

.feedback-button{
 width:15em;
 height: 5em;
 margin-bottom:2em;
}





/* <section class="feedback-section">
  <div class="feedback-title-text">
    Your opinion is important to us.  Let us know how we can do better!
  </div>
  <button pButton type="button" class="ui-button-rounded ui-button-danger" label="Feedback"></button>
</section> */





/*
.how-icon{
  display:flex;
  justify-content: center;
}

.how-it-works-section{
  background-color: #f5efef;
  font-family: 'Nunito',sans-serif;
}

.how-it-works-section .how-it-works-title{
  font-size: 3.8em;
  color:#773f31;
  margin:0;
  padding:0;
}
.how-it-works-section .how-it-works-subtitle{
  font-size: 2em;
  color:#423e3d;
}

.how-it-works-section .how-it-works-text-section{
padding:2em;
margin-bottom:1em;
}

.how-it-works-section .how-it-works-icons{
margin: 3em 0;
  }
 */



