<footer>
  <hr>

  <div class="p-grid footer-icons">
    <div class="p-col-1">
    </div>
    <div class="p-col-1">
      <img src="../../../assets/images/foomy-icon.png" alt="" id="footer-foomy-icon">
    </div>
    <div class="p-col-1">
    </div>
    <div class="p-col-4">
      Like Us
      <img src="../../../assets/images/icon-facebook.png" alt="">
      <img src="../../../assets/images/icon-instragram.png" alt="">
      <img src="../../../assets/images/icon-twitter.png" alt="">
    </div>
    <div class="p-col-1">
    </div>
    <div class="p-col-3">
      Get Our
      <img src="../../../assets/images/icon-appstore.png" alt="">
      <img src="../../../assets/images/icon-appstore.png" alt="">
    </div>
    <div class="p-col-1">
    </div>
  </div>


<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-10"><hr></div>
  <div class="p-col-1"></div>
</div>






<div class="footer-text" style="text-align: center">
  <div>@2019 Foommy.  All right reserved</div>

  <div>Privacy Policy.  Terms of Service</div>
</div>








</footer>
