footer{
  color: grey;
}

.footer-icons{
  margin-top:2em;
  margin-bottom:1.5em;
}

.footer-text{
  margin:2em;
}

#footer-foomy-icon{
  height: 3em;
}

ul.footer-icon-subsections{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:3em;
}

ul.footer-icon-subsections li img{
  height:3em;
}

hr{
  margin: 0;
  padding: 0;
  height: .3em;
  background-color:lightgray;
  color: lightgray;
}


