<section class="how-it-works-section">
  <div class="p-grid how-it-works-text-section">
    <div class="p-col-12">
      <h3 class="how-it-works-title">How Foommy works?</h3>
    </div>
    <div class="p-col-12">
      <div class="how-it-works-subtitle">Foomy is a food sharing network in connecting people who love cooking add
        appreciate
        homemade food all over the world!
        Wherever you go and stay, there is always a plate for you from local home kitchens!
      </div>
    </div>
  </div>
  <div class="p-col-12">
    <div class="how-it-works-icons">
      <div class="p-grid">
        <div class="p-col how-icon"><img src="../../../../assets/images/icon-search-home-chef.png" alt=""></div>
        <div class="p-col how-icon"><img src="../../../../assets/images/icon-request-dishes.png" alt=""></div>
        <div class="p-col how-icon"><img src="../../../../assets/images/icon-receive-confirmation.png" alt=""></div>
        <div class="p-col how-icon"><img src="../../../../assets/images/icon-enjoy-dishes.png" alt=""></div>
      </div>
    </div>
  </div>

</section>
