.how-icon{
  display:flex;
  justify-content: center;
}

.how-it-works-section{
  background-color: #f5e7e7;
  font-family: 'Nunito',sans-serif;






}

.how-it-works-section .how-it-works-title{
  font-size: 3.8em;
  color:#773f31;
  margin:0;
  padding:0;
  /* padding-top:1em;
  padding-left:1em; */

}
.how-it-works-section .how-it-works-subtitle{
  font-size: 2em;
  color:#423e3d;
}

.how-it-works-section .how-it-works-text-section{
padding:2em;
margin-bottom:1em;
}

.how-it-works-section .how-it-works-icons{
margin: 3em 0;
  }




