<form class="sign-up_form">
  <p class="sign-up_text">Sign up with:</p>
  <div class="social_media_sign-up_section">
    <button pButton type="button" class="social_media_button" label="Google" icon='fab fa-google'
      iconPos="left"></button>
    <button pButton type="button" class="social_media_button" label="Facebook" icon='fab fa-facebook-square'
      iconPos="left"></button>
  </div>

  <p class="sign-up_text">Or start a new account:</p>
  <div class="email_sign-up_section p-grid">
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label">
        <input id="float-input" type="text" pInputText name="email_sign-up_box" id="email_sign-up_box"
          class="email_text_box">
        <label for="float-input">First Name</label>
      </div>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label">
        <input id="float-input" type="text" pInputText name="email_sign-up_box" id="email_sign-up_box"
          class="email_text_box">
        <label for="float-input">Last Name</label>
      </div>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label">
        <input id="float-input" type="text" pInputText name="email_sign-up_box" id="email_sign-up_box"
          class="email_text_box">
        <label for="float-input">Email</label>
      </div>
    </div>
    <div class="p-col-4"></div>

    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label">
        <input id="float-input" type="text" pInputText name="email_sign-up_box" id="email_sign-up_box"
          class="email_text_box">
        <label for="float-input">Phone Number</label>
      </div>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label">
        <input id="float-input" type="password" pInputText name="password_sign-up_box" id="password_sign-up_box"
          class="email_text_box">
        <label for="float-input">Password</label>
      </div>
    </div>
    <div class="p-col-4"></div>


    <div>
      <button pButton type="submit" class="email_sign-up_button" label="Submit" icon='pi pi-check'
        iconPos="left" routerLink="add-photo"></button>
      <button pButton type="cancel" class="email_sign-up_button ui-button-danger" label="Cancel"
        icon='pi pi-times' iconPos="left" routerLink="/"></button>

    </div>
  </div>
</form>
