.add-dish-preview {
  padding: 2em;
}

hr {
  margin: 0;
  height: 0.3em;
  background-color: lightgray;
  color: lightgray;
}

.add_dish_preview_name {
  font-family: "Lato", sans-serif;
  color: rgb(50, 50, 50);
  font-size: 2em;
}

.add_dish_preview_subtext {
  font-family: "Lato", sans-serif;
  color: rgb(50, 50, 50);
  font-size: 1.75em;
}

.add_dish_preview_textdetails {
  font-family: "Lato", sans-serif;
  color: rgb(50, 50, 50);
  font-size: .75em;
}

.add_dish_preview_title {
  font-family: "Lato", sans-serif;
  color: rgb(50, 50, 50);
  font-size: 2em;
}

.add-dish-finalize-button {
  font-size: 1.5em;
}

.add_dish_labels {
  font-family: "Lato", sans-serif;
  color: rgb(50, 50, 50);
  font-size: 1.25em;
}

.left-panel,
.right-panel {
  min-height: 60vh;
}
