<div class="add-dish-preview">
  <div class="p-grid">
    <div class="p-col-8">
      <div class="add_dish_preview_title">New Dish - Preview</div>
    </div>
    <div class="p-col-4">
      <button type="button" pButton label="Add dish" class="add-dish-finalize-button ui-button-rounded ui-button-danger"
        icon="pi pi-plus"></button>
    </div>
<div class="preview-main p-grid">
      <div class="p-col-12">
        <hr>
      </div>
      <div class="p-col-6">
        <div class="left-panel">
          <div class="top-left p-col-align-center add_dish_preview_name">
            {{formPreviewLocalStorage.name}}
          </div>
          <div class="bottom-left add_dish_preview_subtext" style="margin-left: 1rem">
            <div class="add_dish_preview_textdetails">
              <div>
                <i class="fas fa-utensils"></i>
                {{formPreviewLocalStorage.category}}
              </div>
              <div>
                <i class="fas fa-concierge-bell"></i>
                {{formPreviewLocalStorage.cuisine}}
              </div>
              <div>
                <i class="fas fa-fish"></i>
                {{formPreviewLocalStorage.allergens}}
              </div>
            </div>
          </div>
          <hr  style="margin:2em">
          <div class="add_dish_preview_subtext">
            <i class="fas fa-cheese"></i>
            Main Ingredients:
          </div>
          <div class="add_dish_preview_textdetails" style="margin-left: 1rem">
            {{formPreviewLocalStorage.ingredients}}
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <div class="right-panel">
          <div class="top-right">
            <img src={{formPreviewLocalStorage.image}} alt="" style="width: 100%; max-width:500px">
          </div>
          <div class="bottom-right add_dish_preview_subtext">
            <p>{{this.formPreviewLocalStorage.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
