.menu .menu-links{
  display: flex;
}
.menu{
  display: flex;
  justify-content: space-between;
 /* background-color:#f5e7e7; */
 background: linear-gradient(to left, #f5e7e7 0%, #bb4239 100%);
 align-items: center;

}

.menu-links{
  justify-content: space-around;
  align-items: center;
  display:flex;
}

.menu-links .nav-link a{
 margin-right:2em;
 font-size: 1.5em;
 font-family: 'Lato';
 color:#5c5555;
}

.menu-links #user-info-item{
  margin-right:2em;
  font-size: 1.5em;
  font-family: 'Lato';
  color:#f3f0f0;
  border: #bb4239;
 }

.menu-links .nav-link a:hover{
font-weight: bolder;
 border-bottom: solid 4px #5c5555;
  }

li{
  list-style-type: none;
}

.logo{
  margin-left:2em;
  margin-top: 1em;
}







