<div class="menu">
  <div class="logo">
    <img src="../../../assets/images/icon-foommy.png" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" alt="" width="100px">
  </div>

  <ul class="menu-links">
    <li class="nav-link">
      <div class="link-item">
        <a href="#" routerLink="create-dish" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="afAuth.loggedIn">Add A Dish</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" routerLink="become-chef" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Become A Chef</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" routerLink="sign-up" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="!afAuth.loggedIn" >Sign Up</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" routerLink="login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="!afAuth.loggedIn">Login</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" (click)="onLogout()" *ngIf="afAuth.loggedIn">Logout</a>
        <p-toast class="ui-toast-center"></p-toast>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Why Foomy</a>
      </div>
    </li>
    <li  id="user-info-item">

      <a href="#">{{afAuth.currentUserInfo.email}}<i class="fas fa-user"></i></a>




    </li>
  </ul>
</div>
<hr>

