<form class="add_photo_form">
  <p class="add_photo_text">Add Profile Photo</p>
  <div class="social_media_add_photo_section">
    <img src="../../../../assets/images/icon-upload-photo.png" style="width:10rem" alt="" class="social_media_button">
    <button pButton type="button" class="social_media_button" label="Use Google Photo" icon='fab fa-google'
      iconPos="left"></button>
    <button pButton type="button" class="social_media_button" label="Use Facebook Photo" icon='fab fa-facebook-square'
      iconPos="left"></button>
    <button pButton type="button" class="social_media_button" label="Upload Your Photo" icon='fas fa-upload'
      iconPos="left"></button>
    <button pButton type="button" class="social_media_button" label="Skip" icon='fas fa-chevron-right'
      iconPos="right" style="border:none"></button>
  </div>
</form>

