<div class="menu">
  <div class="logo">
    <img src="../../../assets/images/foomy-icon.png" alt="" width="100px">
  </div>

  <ul class="menu-links">
    <li class="nav-link">
      <div class="link-item">
        <a href="#">Become A Chef</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#">Sign Up</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#">Login</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#">Why Foomy</a>
      </div>
    </li>
  </ul>
</div>


