.menu .menu-links{
  display: flex;

}

.menu{
  display: flex;
  justify-content: space-between;
}

.menu-links{
  justify-content: space-around;
  display:flex;
  margin-top: 2em;

}

.menu-links .nav-link a{
/* margin-top:2em; */
 margin-right:2em;
 font-size: 2.2em;
 font-family: 'Lato';

 columns: #686566;
}

.menu-links .nav-link a:hover{
font-weight: bolder;

 border-bottom: solid 4px rgb(255, 255, 255);
  }

li{
  list-style-type: none;
}

.logo{
  margin-left:2em;
  margin-top: 2em;
}



