<section class="create-dish1 p-grid">
  <div class="p-col-4"></div>
  <div class="p-col-4">
    <button pButton type="submit" class="create-dish-button ui-button-secondary" label="Create a Dish" icon="pi pi-plus"
      iconpos="left" routerLink="add-dish-form"></button>
  </div>
  <div class="p-col-4"></div>

  <div class="p-col-4"></div>
  <div class="p-col-4">
    <div class="get-ideas-text">Get ideas from others</div>
  </div>
  <div class="p-col-4"></div>



    <div class="p-col-4"></div>
    <div class="p-col-4">
        <img src="../../../assets/images/temp-create-dish-card.PNG" style="width:55%" alt="temp card">
    </div>
    <div class="p-col-4"></div>

    <div class="p-col-4"></div>
    <div class="p-col-4">
        <img src="../../../assets/images/temp-create-dish-card.PNG" style="width:55%" alt="temp card">
    </div>
    <div class="p-col-4"></div>





</section>
