<div class="header-section">

  <app-menu-header></app-menu-header>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="menu-header-search">
        <h3 class="menu-header-search-text">Enjoy homemade food away from home !</h3>
        <div class="search-box">
          <input type="text" class="menu-header-searchbox" placeholder="Address, City or ZIP" />

          <img class="icon-search" src="../../../assets/images/icon-search.png" alt="icon-search" style="width: 5em;">
        </div>
      </div>
    </div>
  </div>
</div>
<app-how-it-works></app-how-it-works>
<!-- <app-foomies-near-you></app-foomies-near-you> -->
<app-feedback></app-feedback>
<app-footer></app-footer>
