<section class="header-section">
  <div class="main-header-section">

    <div class="p-grid">
      <div class="p-col-12">
        <div class="header-search">
          <h3 class="header-search-text">Enjoy homemade food away from home !</h3>
          <div class="search-box">
            <input type="text" class="header-searchbox" placeholder="Address, City or ZIP" />

            <img class="icon-search" src="../../../assets/images/icon-search.png" alt="icon-search" style="width: 5em;">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
