<form class="login_form">
  <p class="login_text">Log in with:</p>
  <div class="social_media_login_section">
    <button pButton type="button" class="social_media_button" label="Facebook" icon='fab fa-google'
      iconPos="left"></button>
    <button pButton type="button" class="social_media_button" label="Facebook" icon='fab fa-facebook-square'
      iconPos="left"></button>
  </div>

  >

  <p class="login_text">Or continue with:</p>
  <div class="email_login_section p-grid">
<div class="p-col-4"></div>
<div class="p-col-4">
  <div class="ui-float-label">
    <input id="float-input" type="text" pInputText name="email_login_box" id="email_login_box" class="email_text_box">
    <label for="float-input">Email</label>
  </div>
</div>
<div class="p-col-4"></div>
<div class="p-col-4"></div>
<div class="p-col-4">
  <div class="ui-float-label">
    <input id="float-input" type="text" pInputText name="password_login_box" id="password_login_box" class="email_text_box">
    <label for="float-input">Password</label>
  </div>
</div>
<div class="p-col-4"></div>


<div>
  <button pButton type="submit" class="email_login_button" label="Submit" icon='pi pi-check' iconPos="left"></button>
  <button pButton type="submit" class="email_login_button ui-button-danger" label="Forgot Password?"
    icon='pi pi-check' iconPos="left"></button>

</div>
  </div>
</form>
