<form class="sign-up_form" [formGroup]="signUpForm">
  <p class="sign-up_text">Sign up with:</p>
  <div class="social_media_sign-up_section">
    <button pButton type="button" class="social_media_button" label="Google" icon='fab fa-google'
      iconPos="left"></button>
    <button pButton type="button" class="social_media_button" label="Facebook" icon='fab fa-facebook-square'
      iconPos="left"></button>
  </div>

  <p class="sign-up_text">Or start a new account:</p>
  <div class="email_sign-up_section p-grid">
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label form-group">
        <input id="float-input" type="text" pInputText
          class="email_text_box" formControlName="firstName">
        <label for="float-input">First Name</label>
      </div>
      <span class="errMessage" *ngIf="signUpForm.controls['firstName'].invalid" >First name is required</span>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label form-group">
        <input id="float-input" type="text" pInputText
          class="email_text_box" formControlName="lastName">
        <label for="float-input">Last Name</label>
      </div>
      <span class="errMessage" *ngIf="signUpForm.controls['lastName'].invalid" >Last name is required</span>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label form-group">
        <input id="float-input" type="text" pInputText
          class="email_text_box" formControlName="email" [(ngModel)]="email">
        <label for="float-input">Email</label>
      </div>

      <span class="errMessage" *ngIf="signUpForm.controls['email'].invalid" >Email is required</span>
    </div>
    <div class="p-col-4"></div>

    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label form-group">
        <input id="float-input" type="text" pInputText
          class="email_text_box" formControlName="phone">
        <label for="float-input">Phone Number</label>
      </div>
      <span class="errMessage" *ngIf="signUpForm.controls['phone'].invalid" >Phone number is required (10 digits)</span>
    </div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <div class="ui-float-label form-group">
        <input id="float-input" type="password" pInputText
          class="email_text_box" formControlName="password" [(ngModel)]="password">
        <label for="float-input">Password</label>
      </div>
      <span class="errMessage" *ngIf="signUpForm.controls['password'].invalid" >Password is required (mininum 6 characters)</span>
    </div>
    <div class="p-col-4"></div>
    <!-- {{signUpForm.value | json}} -->


    <div>
      <button pButton type="submit" class="email_sign-up_button" label="Submit" icon='pi pi-check'
        iconPos="left" routerLink="/" [disabled]="signUpForm.invalid" (click)="onRegister()"></button>
      <button pButton type="cancel" class="email_sign-up_button ui-button-danger" label="Cancel"
        icon='pi pi-times' iconPos="left" routerLink="/"></button>

    </div>
  </div>
</form>
