<section class="foomies-near-you-section">
  <div class="foomies-near-you-content">
    <div class="p-col-12 p-grid">
      <h3 class="foomies-near-you-title">Foommies near you:</h3>
    </div>
    <!-- <app-sandbox></app-sandbox> -->
    <div *ngIf="afAuth.loggedIn">
      logged in
      <div class="p-grid">
        <div class="p-col-3" *ngFor="let chef of chefFromDB">
          <p-card header={{chef.name}} subheader={{chef.misc}} styleClass="ui-card-shadow" (click)="clickChefDetails()"
          routerLink="temp-key-here/chef-details" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <p-header>
              <img src="Card" src={{chef.image}}>
            </p-header>
            <div>{{chef.city}}, {{chef.state}}</div>
          </p-card>
        </div>
      </div>
    </div>


    <div *ngIf="!afAuth.loggedIn">
      not logged in
      <div class="p-grid">
        <div class="p-col-4" *ngFor="let hardCoded of hardCodedFoommy">
          <p-card header={{hardCoded.name}} subheader={{hardCoded.misc}} styleClass="ui-card-shadow">
            <p-header>
              <img src="Card" src={{hardCoded.image}}>
            </p-header>
            <div>{{hardCoded.city}}, {{hardCoded.state}}</div>
          </p-card>
        </div>
      </div>
    </div>
  </div>


</section>
