
.foomies-near-you-section{
  background-color: #f5efef;
}

.foomies-near-you-section .foomies-near-you-title{
  background-color: #f5efef;
  font-family: 'Nunito',sans-serif;
  font-size: 3.8em;
  color:#773f31;
}

.foomies-near-you-content{
padding:1em;
}





