<div class="menu">
  <div class="logo">
    <img src="../../../assets/images/foomy-icon.png" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" alt="" width="100px">
  </div>

  <ul class="menu-links">
    <li class="nav-link">
      <div class="link-item">
        <a href="#" routerLink="become-chef" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Become A Chef</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" routerLink="sign-up" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Sign Up</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" routerLink="login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Login</a>
      </div>
    </li>
    <li class="nav-link">
      <div class="link-item">
        <a href="#" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Why Foomy</a>
      </div>
    </li>
  </ul>
</div>
<hr>

